services:
  - name: xs-bot
    type: web
    env: node
    buildCommand: "npm install"
    startCommand: "npm start"
    plan: free
    region: ohio
    envVars:
      - key: PORT
        value: 3000
